# Prerequisites
*.d

# Executables
read
drive
event
event_drive
chip
line
line_rqst
line_cfg
read_write
line_events
chip-info
line-information
line-watch
line-settings
line-configuration
request-configuration
line-request
edge-event

# VS Code cruft
.vscode/


# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
